NEXT_PUBLIC_STACKS_API_BASE=https://api.testnet.hiro.so
NEXT_PUBLIC_CONTRACT_ADDRESS=ST1YOURTESTNETADDRESS
NEXT_PUBLIC_CONTRACT_NAME=invoicebtc
NEXT_PUBLIC_SBTC_CONTRACT_ADDRESS=ST1YOURTESTNETTOKENADDRESS
NEXT_PUBLIC_SBTC_CONTRACT_NAME=sbtc-token
NEXT_PUBLIC_SBTC_TOKEN_NAME=sbtc
NEXT_PUBLIC_EXPLORER_BASE=https://explorer.hiro.so/txid
